$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$gradient : linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}

@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bouton {
  background: $gradient;
  color: white;
  opacity: 1;
  padding: 2px 12px 2px 12px;
  border-radius: 180px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}

@mixin bouton-hover {
  opacity: 0.9;
  transition: .2s;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  cursor: pointer;    
}

@keyframes disparition {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
} 

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@keyframes pulse {
  0%, 100% {
    color: black;
}
  25%, 75% {
    color: $couleur-primaire;
}
  50% {
    color: $couleur-secondaire;
  }
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: white;
    width: auto;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
  position: relative;
  @include flexbox-center();
  height: 60px;
  width: 100%;
  padding-top: 10px;

}

.logo {
  width: 170px;
  height: auto;
  font-family: 'Shrikhand';
  color: black;
}

.main {
  margin: 0;
  padding: 0;
  @include flexbox-center;
  flex-direction: column;
}

.loader {
  @include flexbox-center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(5px);
  animation: disparition 3s forwards;
&__logo {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  position: relative;
  top: 92px;
  left: 9px;
  animation: pulse 3s forwards ;
}
&__cercle {
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-color: transparent $couleur-secondaire ;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 3s normal both;
    &::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid;
  border-color: $couleur-primaire transparent;
    }
  }
}



.lieu {
  @include flexbox-center();
  background: #f3f3f3;
  color: black;
  &__icon {
    padding-right: 8px;
  }
  &__ville {
      margin-left: 14px;
      font-weight: 500;
  }
}   

.explorateur {
  display: flex;
  background: #fafafa;
  width: 100%;
  justify-content: center;
  text-align: center;

  &__description {
    padding: 18px;
    padding-bottom: 48px;
    flex-direction: column;
    justify-content: center;
  }
  &__titre {
    text-align: center;
  }
  &__texte {
    text-align: center;
    padding-bottom: 10px;
    font-weight: lighter;
  }
  &__bouton {
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
@include bouton ();
    &:hover {
      @include bouton-hover();
    }
  }
}

.fonctionnement {
  background: white;
  padding: 0 5% 10% 5%;

  
  &__titre {

    padding-top: 20px;
  }
  &__liste {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
  &__étapes {
    @include flexbox-center();
    height: 64px;
    width: auto;
    position: relative;
    border-radius: 20px;
    margin-bottom: 22px;
    color: black;
    background: #fafafa;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
      &:hover {
        cursor: pointer;
        background-color: #f2eafb ;        
      }
      &:hover .fonctionnement__icon {
        color: $couleur-primaire;
      }
  }
    &__numéro {
      @include flexbox-center();
      position: absolute;
      top: 4px;
      bottom: 0px;
      right: 0;
      left: -8px;
      background-color: $couleur-primaire;
      width: 26px;
      height:26px;
      border-radius: 24px;
      color: white;
      font-size: 14px;
      }
    
  &__icon {
      margin-right: 20px;
      font-size: 17px;
  }
  &__texte {
      margin-right: 40px;
  }
}

.restaurants  {
  display: flex;
  padding: 0 5% 12% 5%;
  flex-direction: column;
  background-color: #fafafa;
  &__titre {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  &__cards {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: auto;
    flex-direction: column; 
  }
}
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 22px;
    box-shadow: 0px 0px 50px rgb(0 0 0 / 30%);
    transition: all 1s cubic-bezier(0.55, 1.2, 0.90, 1);
    &:hover {
      @include bouton-hover();
    }
    &__image {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 200px; 
      border-radius: 16px 16px 0 0;   
    }
    &__img {
      object-fit: cover;
      width: 130%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
    }
    &__texte {
      display: flex;
      padding-top: 20px;
      padding-left: 14px;

    }
    &__info {
      width: 100%;
      bottom: 0px;
      background-color: white;
      padding-bottom: 5px;
      &__nom {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
      }
      &__localisation {
        font-size: 20px;
        font-weight: lighter;
      }
    }
    &__coeur  {
      display: flex;
      position: absolute;
      bottom: 40px;
      right: 30px;
      font-size: 26px;
      cursor: pointer;
      &--plein {
        opacity: 0;
        background: $gradient;
        background-clip: border-box;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: 0.8s ease-in-out;
      }
      &--plein:hover {
        opacity: 1;
      }
    }
  }

  .nouveau {
    position: relative;
  }

.nouveau::after {
  content: "Nouveau";
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 10px;
  color: green;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 4px;
}

.footer {
  height:auto;
  color: white;
  padding-left: 26px;
  padding-top: 14px;
  background-color: #353535;
  &__logopetit {
    font-family: "Shrikhand", Verdana, sans-serif;
    font-weight: lighter;
    font-size: 24px;
  }
  &__liens {
    width:fit-content;
    padding-bottom: 20px;
  }
  &__lien {
    display: flex;
    height: 34px;
    align-items: center;
    & i {
      padding-right: 12px;
    }
  }
  &__texte {
    font-weight: lighter;
   & a {
    color: white;
   }
  }
}

@media only screen and (min-width: 768px) {
.fonctionnement {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 992px) {
.restaurants {
display: flex;
align-items: center;
  }
    .restaurants__cards {
      flex-direction: row;
      justify-content: center;
      width: 940px;
      padding: 20px;
    }
    .restaurants__card {
      width: 400px;
      margin: 20px;
    }
}