@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@-webkit-keyframes mouvementcard {
  0% {
    visibility: hidden;
    transform: translateY(100%);
  }
  100% {
    visibility: visible;
    transform: translateY(0%);
  }
}
@keyframes mouvementcard {
  0% {
    visibility: hidden;
    transform: translateY(100%);
  }
  100% {
    visibility: visible;
    transform: translateY(0%);
  }
}
@-webkit-keyframes rotationlogo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationlogo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
  width: auto;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}
.header__fleche {
  color: black;
  position: absolute;
  left: 25px;
  font-weight: bolder;
  font-size: 26px;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  height: 50%;
  padding-bottom: 14px;
  margin: 0;
  color: black;
  font-weight: lighter;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  position: relative;
  width: 100%;
}
.image__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 280px;
}

.menu {
  display: flex;
  position: relative;
  margin-top: -50px;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 50px);
  padding: 25px;
  background-color: #fafafa;
  border-radius: 30px 30px 0 0;
}
.menu__header {
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu__header__titre {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 26px;
}
.menu__header__coeur {
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 32px;
  cursor: pointer;
}
.menu__header__coeur--plein {
  opacity: 0;
  background: linear-gradient(170deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.8s ease-in-out;
}
.menu__header__coeur--plein:hover {
  opacity: 1;
}
.menu__section {
  width: 100%;
  height: auto;
  margin-top: 6px;
}
.menu__section__titre {
  display: flex;
  color: #7B7B7B;
  text-transform: uppercase;
}

h3 {
  font-weight: lighter;
  font-size: 18px;
}

.traitvert {
  display: flex;
  background: #99E2D0;
  margin-top: -14px;
  margin-bottom: 12px;
  height: 4px;
  width: 44px;
}

.card {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
  border-radius: 16px;
  margin-bottom: 15px;
  -webkit-animation: mouvementcard 1s forwards;
          animation: mouvementcard 1s forwards;
}
.card__body {
  width: 80%;
  padding-left: 10px;
  cursor: pointer;
  transition: width 1s ease-in-out;
}
.card__body__titre {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__body__description {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-size: 15px;
}
.card__prix {
  display: flex;
  max-width: 30%;
  height: 100%;
  cursor: pointer;
}
.card__prix--euros {
  padding-top: 24px;
  padding-right: 20px;
}
.card__check {
  display: flex;
  height: 100%;
  width: 0px;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: 1s ease-in-out;
}
.card:hover .card__body {
  width: 60%;
}
.card:hover .card__check {
  width: 80px;
  color: white;
}
.card:hover i {
  transform: rotate(0deg);
  -webkit-animation: rotationlogo 0.8s forwards;
          animation: rotationlogo 0.8s forwards;
}

.fa-check-circle {
  font-size: 22px;
}

.menu__bouton {
  padding: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__bouton__commander {
  text-align: center;
  background: linear-gradient(170deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  opacity: 1;
  padding: 2px 20px;
  border-radius: 180px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 18px 60px 18px 60px;
}
.menu__bouton__commander:hover {
  opacity: 0.9;
  transition: 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.menu__bouton p {
  font-weight: 300;
  font-size: 20px;
}

.card1 {
  visibility: hidden;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.card2 {
  visibility: hidden;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.card3 {
  visibility: hidden;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.card4 {
  visibility: hidden;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.card5 {
  visibility: hidden;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.card6 {
  visibility: hidden;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.card7 {
  visibility: hidden;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.card8 {
  visibility: hidden;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.card9 {
  visibility: hidden;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.card10 {
  visibility: hidden;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.footer {
  height: auto;
  color: white;
  padding-left: 26px;
  padding-top: 14px;
  background-color: #353535;
}
.footer__logopetit {
  font-family: "Shrikhand", Verdana, sans-serif;
  font-weight: lighter;
  font-size: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer__liens {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 20px;
}
.footer__lien {
  display: flex;
  height: 34px;
  align-items: center;
}
.footer__lien i {
  padding-right: 12px;
}
.footer__texte {
  font-weight: lighter;
}
.footer__texte a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
    padding-bottom: 180px;
  }
  .menu__header {
    position: absolute;
    top: -10px;
    width: 42%;
    left: 36px;
  }
  .menu__section {
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    padding: 10px;
  }
  .menu__bouton {
    position: absolute;
    left: 38%;
    bottom: 5%;
  }
  .menu__bouton__commander {
    padding: 18px 40px 18px 40px;
  }
}
@media only screen and (min-width: 992px) {
  .menu {
    padding-bottom: 0;
  }
  .menu__header {
    width: 69%;
  }
  .menu__section {
    width: 22%;
  }
  .menu__bouton {
    position: inherit;
    width: 100%;
    left: 0;
    top: 0;
  }
  .card__body__titre {
    font-size: 14px;
  }
  .card__body__description {
    font-size: 13px;
  }
}/*# sourceMappingURL=menu.css.map */